// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  margin: 0; box-sizing: border-box; padding: 0;
}

body{
  font-family: 'Montserrat',sans-serif;
  background: radial-gradient(#03a9f4, #004b6d);
  height: 100vh;
}

.container{
  width: 90%;
  margin: auto;

  ul{
    li{
      font-size: 35px;
      color:white;
      font-weight:bold;
    }
  }
}
